* {
    padding: 0;
    box-sizing: border-box;
}

body {

    display: grid;
    place-content: center;
    height: 100vh;
    padding: 5px;
    background-color: black;
    font-family: sans-serif;
    overflow: hidden;
}

.fit {
    opacity: 0.75;
    overflow: hidden;
    -webkit-animation: spin 3s cubic-bezier(0.4, 0.1, 0.1, 0.7) infinite;
    -moz-animation: spin 3s cubic-bezier(0.4, 0.1, 0.1, 0.7) infinite;
    animation: spin 3s cubic-bezier(0.4, 0.1, 0.1, 0.8) infinite;
    width: 300px;
    height: 300px;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#container {
    position: relative;
}

img {
    background-color: green;
    border-radius: 100%;
}